 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 870px;
	 height: 661px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #layer_1 
{ 
	 left: -14px; 
	 top: -16px; 
	 position: absolute; 
	 width: 897px;
	 height: 692px;
	 z-index:1;
} 

 #layer_2 
{ 
	 left: -8px; 
	 top: -12px; 
	 position: absolute; 
	 width: 880px;
	 height: 673px;
	 z-index:2;
} 

 #layer_3 
{ 
	 left: -14px; 
	 top: -19px; 
	 position: absolute; 
	 width: 891px;
	 height: 686px;
	 z-index:3;
} 

 #layer_4 
{ 
	 left: -14px; 
	 top: -13px; 
	 position: absolute; 
	 width: 891px;
	 height: 674px;
	 z-index:4;
} 

 #layer_5 
{ 
	 left: 3px; 
	 top: 2px; 
	 position: absolute; 
	 width: 858px;
	 height: 644px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: 223px; 
	 top: 528px; 
	 position: absolute; 
	 width: 418px;
	 height: 102px;
	 z-index:6;
} 

 #W 
{ 
	 left: 413px; 
	 top: 565px; 
	 position: absolute; 
	 width: 37px;
	 height: 33px;
	 z-index:7;
} 
 #YourName 
{ 
	 left: 280px; 
	 top: 330px; 
	 position: absolute; 
	 width: 300px;
	 height: 33px;
	 z-index:8;
} 

 #layer_8 
{ 
	 left: 291px; 
	 top: 381px; 
	 position: absolute; 
	 width: 281px;
	 height: 2px;
	 z-index:8;
} 

 #Inrecognitionofoutst 
{ 
	 left: 272px; 
	 top: 398px; 
	 position: absolute; 
	 width: 319px;
	 height: 34px;
	 z-index:9;
} 

 #OfAchievement 
{ 
	 left: 348px; 
	 top: 191px; 
	 position: absolute; 
	 width: 168px;
	 height: 20px;
	 z-index:10;
} 

 #Thiscertificateispro 
{ 
	 left: 233px; 
	 top: 242px; 
	 position: absolute; 
	 width: 396px;
	 height: 26px;
	 z-index:11;
} 

 #CERTIFICATE 
{ 
	 left: 226px; 
	 top: 125px; 
	 position: absolute; 
	 width: 410px;
	 height: 51px;
	 z-index:12;
} 

 #layer_13 
{ 
	 left: 131px; 
	 top: 514px; 
	 position: absolute; 
	 width: 175px;
	 height: 2px;
	 z-index:13;
} 

 #DATE 
{ 
	 left: 202px; 
	 top: 528px; 
	 position: absolute; 
	 width: 34px;
	 height: 12px;
	 z-index:14;
} 

 #layer_15 
{ 
	 left: 558px; 
	 top: 514px; 
	 position: absolute; 
	 width: 174px;
	 height: 2px;
	 z-index:15;
} 

 #SIGNATURE 
{ 
	 left: 607px; 
	 top: 528px; 
	 position: absolute; 
	 width: 75px;
	 height: 12px;
	 z-index:16;
} 

 #layer_17 
{ 
	 left: 600px; 
	 top: 444px; 
	 position: absolute; 
	 width: 89px;
	 height: 66px;
	 z-index:17;
} 

 #layer_18 
{ 
	 left: 259px; 
	 top: 71px; 
	 position: absolute; 
	 width: 344px;
	 height: 36px;
	 z-index:18;
} 

 #layer_19 
{ 
	 left: 328px; 
	 top: 490px; 
	 position: absolute; 
	 width: 206px;
	 height: 28px;
	 z-index:19;
} 
